.block {
    padding: 9px;
    border: 1px solid $block_border;
    &_slider {
        margin: 0 0 80px 0;
    }
    &__second {
        border: 1px solid $block_border;
    }
    &__header {
        font-family: 'Baltika-Bold';
        font-size: 3rem;
        p {
            margin: 30px 0 35px 0;
            line-height: 1;
        }
        p::before {
            content: '';
            background-image: url(../img/block-header.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            width: 21px;
            height: 21px;
            margin: 0 8px 0 0;
        }
    }
    &_news {
        margin: 0 0 30px 0;
    }
    &__news {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        .block__img {
            width: 325px;
            margin: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .block__info {
            padding: 15px 15px 15px 30px;
            display: flex;
            flex-flow: row wrap;
            align-content: space-between;
        }
        .block__info-wrap {
            width: 100%;
        }
        .block__info-wrap:first-child {
            margin: 0 0 35px 0;
        }
    }
    &__news-detail {
        padding: 3rem 0;
    }
    &__news-detail-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 3rem 3rem 3rem;
        p {
            margin: 0;
        }
    }
    &__news-detail-prev {
        display: inline-block;
        padding: 0 3rem 3rem 3rem;
    }
    &__news-detail-img {
        width: 100%;
        height: 450px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__news-detail-title {
        display: block;
        padding: 1.3rem 3rem 3rem 3rem;
        color: $block_news_detail_title;
    }
    &__news-detail-text {
        padding: 0 3rem;
        p {
            text-align: justify;
        }
    }
    &__news-detail-tag {
        text-align: center;
        padding: 3rem 0 0 0;
        a {
            padding: 10px 15px;
            margin: 0 13px 0 0;
            color: $news_detail_tag;
            border: 1px solid $news_detail_tag;
        }
        a:hover {
            background-color: $news_detail_tag;
            color: #FFF;
        }
    }
    &__btn {
        display: inline-block;
        padding: 0 25px;
        color: #000;
        border: 1px solid #000;
        line-height: 35px;
        transition: .2s;
    }
    &__btn:hover {
        color: #FFF;
        background-color: #000;
    }
    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        padding: 0 0 20px 0;
        margin: 25px 10px 0 10px;
        border-bottom: 1px solid $block_item_border;
    }
    &__item:first-child {
        margin: 0 10px 0 10px;
    }
    &__item:last-child {
        border-bottom: 0;
    }
    &__img {
        max-width: 50%;
        min-width: 30%;
        margin: 0 10px 0 0;
    }
    &__time {
        margin: 0 0 1rem 0;
        line-height: 1;
    }
    &__text {
        margin: 0;
    }
    &__title {
        display: inline-block;
        text-transform: uppercase;
        color: $titile_color;
        text-decoration: underline;
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    &__title:hover {
        color: $titile_color;
        text-decoration: none;
    }
    &__footer {
        margin: 20px 0;
        a {
            color: $titile_color;
            text-decoration: underline;
        }
        a:hover {
            text-decoration: none;
        }
    }
}
.block_congresses,
.block_meeting {
    .block__item {
        flex-flow: row wrap;
    }
    .block__img {
        min-width: 100%;
        margin: 0 0 25px 0;
    }
}
.block-left {
    padding: 35px 0;
    border-bottom: 1px solid $block_left;
    &__title {
        font-weight: bold;
        font-size: 1.25rem;
    }
}
.block-left:last-child {
    border-bottom: 1px solid transparent;
}
.block-left-border {
    padding: 0 1.875rem 0 0;
    border-right: 1px solid $block_left;
}
.news-arrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 0 6rem 0;
    /*&__left:hover + span {
        display: block;
        animation: fadeIn 1s
    }*/
    &__right,
    &__left {
        width: 23px;
        height: 39px;
    }
    &__right::after,
    &__left::before {
        content: '';
        background-image: url(../img/news-arrow.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        width: 23px;
        height: 39px;
    }
    &__right::after {
        transform: rotate(180deg);
    }
    &__wrap {
        position: relative;
        a {
            display: inline-block;
        }
        a:hover + span {
            display: block;
            animation: fadeIn 1s;
        }
    }
    &__left + .news-arrow-popup__text {
        display: none;
        position: absolute;
        left: 0;
        bottom: -120%;
        width: 500px;
        padding: 1.5rem;
        border: 1px solid $news_detail_popup;
        background-color: #FFF;
    }
    &__left + .news-arrow-popup__text::after,
    &__left + .news-arrow-popup__text::before {
        content: '';
        border: solid transparent;
        position: absolute;
        left: 3%;
        margin-left: -10px;
        top: -20px;
        width: 0;
    }
    &__left + .news-arrow-popup__text::before {
       border-bottom-color: $news_detail_popup;
       border-width: 10px;
    }
    &__left + .news-arrow-popup__text::after {
       border-bottom-color: #FFF;
       border-width: 12px;
       margin-left: -12px;
    }
    &__right + .news-arrow-popup__text {
        display: none;
        position: absolute;
        right: 0;
        bottom: -120%;
        width: 500px;
        padding: 1.5rem;
        border: 1px solid $news_detail_popup;
        background-color: #FFF;
    }
    &__right + .news-arrow-popup__text::after,
    &__right + .news-arrow-popup__text::before {
        content: '';
        border: solid transparent;
        position: absolute;
        right: 3%;
        margin-left: -10px;
        top: -20px;
        width: 0;
    }
    &__right + .news-arrow-popup__text::before {
        margin-right: 2px;
        border-bottom-color: $news_detail_popup;
        border-width: 10px;
    }
    &__right + .news-arrow-popup__text::after {
        border-bottom-color: #fff;
        border-width: 12px;
        margin-right: 0px;
    }
}
/*.news-arrow-popup {
    &__text {
        display: none;
        position: absolute;
        left: 0;
        bottom: -120%;
        width: 500px;
        padding: 1.5rem;
        border: 1px solid $news_detail_popup;
    }
    &__text:after,
    &__text:before {
       content: '';
       border: solid transparent;
       position: absolute;
       left: 5%;
       margin-left: -10px;
       top: -20px;
       width: 0;
    }
    &__text:before {
       border-bottom-color: $news_detail_popup;
       border-width: 10px;
    }
    &__text:after {
       border-bottom-color: #FFF;
       border-width: 12px;
       margin-left: -12px;
    }
}*/

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
