.footer {
    background-color: $footer;
    color: #FFF;
    &__header {
        border-bottom: 1px solid #FFF;
        padding: 30px 0 50px 0;
        p {
            margin: 0;
        }
    }
    &__social {
        a{
            margin: 0 13px 0 0;
        }
    }
    &__menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 40px 0 55px 0;
        ul {
            margin: 0 2.5rem 0 0;
            > li {
                list-style: none;
            }
        }
        ul:last-child {
            margin: 0;
        }
    }
    &__menu-title {
        display: inline-block;
        margin: 0 0 10px 0;
        color: $footer_title;
        font-size: 1.17rem;
        text-transform: uppercase;
    }
    &__menu-title:hover {
        color: $footer_title;
        text-decoration: underline;
    }
    &__menu-item {
        color: #FFF;
    }
    &__menu-item:hover {
        color: #FFF;
        text-decoration: underline;
    }
    &__subscribe {
        width: 230px;
        ul {
            margin: 0 0 15px 0;
        }
    }
}
.footer-border {
    height: 20px;
    background-image: url(../img/footer-border.png);
    background-repeat: repeat-x;
}
.map-site {
    color: #FFF;
}
.map-site:hover {
    color: #FFF;
    text-decoration: underline;
}
.map-site::before {
    content: '';
    background-image: url(../img/map-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 16px;
    height: 14px;
    margin: 0 14px 0 0;
}
