.input {
    border-radius: 10px;
    padding: 0 0 0 25px;
    &_header {
        border: 1px solid $input_header;
        color: $input_placeholder;
    }
    &_header:hover,
    &_header:focus {
        border: 1px solid $input_header;
    }
    &_header::placeholder {
        color: $input_placeholder;
    }
    &_block-left {
        border: 1px solid $input_block-left;
    }
    &_block-left:hover,
    &_block-left:focus {
        border: 1px solid $input_block-left;
    }
    &_block-left::placeholder {
        color: $block_left_placeholder;
    }
}
.submit-btn {
    position: absolute;
    display: block;
    top: 0;
    right: 13px;
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    border-left: 1px solid $submit_border;
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
    &_search {
        width: 27px;
        height: 16px;
        top: 7px;
        background-image: url(../img/submit-search.png);
    }
    &_news {
        width: 27px;
        height: 16px;
        top: 7px;
        background-image: url(../img/submit-news.png);
    }
}
