.book-slider {
    position: relative;
    max-width: 360px;
    margin: 0 auto;
    a {
        color: $slider_book;
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
    .item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    &__item {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
    }
    &__item:last-child {
        padding: 0 0 0 13px;
    }
    &__item:first-child {
        min-width: 60px;
    }
    &__book {
        max-height: 96px;
    }
    &__caption {
        font-family: 'Baltika-Bold';
        font-size: 1.5rem;
        margin: 0;
        line-height: 1;
        width: 100%;
    }
    &__title {
        font-size: 1.17rem;
        font-weight: bold;
        line-height: 1.3rem;
        display: block;
        margin: -1.4rem 0 0 0;
    }
    &__tag-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    &__tag {
        position: relative;
        color: $slider_book_tag;
        border-top: 1px solid $slider_book_tag;
        border-bottom: 1px solid $slider_book_tag;
        border-left: 1px solid $slider_book_tag;
        margin: 0 15px 0 0;
        p {
            margin: 0;
            padding: 0 4px;
            line-height: 18px;
        }
    }
    &__tag::after {
        content: "";
        background-image: url(../img/tag-arrow.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: -1px;
        right: -7px;
        display: inline-block;
        width: 8px;
        height: 20px;
    }
}

.book-slider .owl-dots {
    margin: 12px 0 0 0;
}
.book-slider .owl-dots .owl-dot span {
    background-color: $slider_book;
}
.book-slider .owl-dots .owl-dot.active span,
.book-slider .owl-dots .owl-dot:hover span {
    background-color: transparent;
    border: 1px solid $slider_book;
}
.book-slider .owl-nav {
    position: absolute;
    width: 100%;
    margin: 15px 0 0 0;
    .owl-next,
    .owl-prev {
        position: absolute;
        height: 16px;
        margin: 0;
        padding: 0;
        background: transparent;
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
    .owl-next::after,
    .owl-prev::before {
        content: "";
        background-image: url(../img/slider-book-arrow.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        width: 10px;
        height: 16px;
    }
    .owl-next::after {
        transform: rotate(180deg);
    }
}
.book-slider .owl-nav [class*=owl-]:hover {
    background: transparent;
}
.book-slider .owl-nav::after,
.book-slider .owl-nav::before {
    content: "";
    display: table;
    clear: both;
}
.index-slider .owl-nav {
    position: absolute;
    width: 100%;
    margin: 0;
    top: calc(50% - 23px);
    .owl-next,
    .owl-prev {
        position: absolute;
        height: 47px;
        width: 47px;
        margin: 0;
        padding: 0;
        background: rgba(0, 0, 0, .5);
        border-radius: 50%;
        border: 1px solid #FFF;
    }
    .owl-prev {
        left: 40px;
    }
    .owl-next {
        right: 40px;
    }
    .owl-next::after,
    .owl-prev::before {
        content: "";
        background-image: url(../img/slider-arrow.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        position: relative;
        width: 12px;
        height: 20px;
        top: 12px;
        left: -2px;
    }
    .owl-next::after {
        transform: rotate(180deg);
        left: 2px;
    }
}
.index-slider .owl-nav [class*=owl-]:hover {
    background: rgba(0, 0, 0, .7);
}
.media__body .owl-nav,
.block_congresses .owl-nav,
.block_meeting .owl-nav {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: -30px;
    z-index: 1;
    .owl-next,
    .owl-prev {
        position: absolute;
        width: 10px;
        height: 17px;
        margin: 0;
        padding: 0;
        background: transparent;
    }
    .owl-prev {
        left: 40px;
    }
    .owl-next {
        right: 40px;
    }
    .owl-next::after,
    .owl-prev::before {
        content: "";
        background-image: url(../img/block-slider.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        position: relative;
        width: 10px;
        height: 17px;
    }
    .owl-next::after {
        transform: rotate(180deg);
        left: 2px;
    }
}
.media__body .owl-nav {
    .owl-prev {
        left: 20%;
    }
    .owl-next {
        right: 20%;
    }
}
.media__body .owl-nav [class*=owl-]:hover,
.block_congresses .owl-nav [class*=owl-]:hover,
.block_meeting .owl-nav [class*=owl-]:hover {
    background: transparent;
}
.media__body .owl-dots,
.block_congresses .owl-dots,
.block_meeting .owl-dots {
    position: absolute;
    width: 100%;
    bottom: -53px;
}
.media__body .owl-dots .owl-dot span,
.block_congresses .owl-dots .owl-dot span,
.block_meeting .owl-dots .owl-dot span {
    background-color: $block_slider_dots;
}
.media__body .owl-dots .owl-dot.active span,
.media__body .owl-dots .owl-dot:hover span,
.block_congresses .owl-dots .owl-dot.active span,
.block_congresses .owl-dots .owl-dot:hover span,
.block_meeting .owl-dots .owl-dot.active span,
.block_meeting .owl-dots .owl-dot:hover span {
    background-color: $block_slider_dots_hover;
    border: 1px solid $titile_color;
}
